*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sans-serif';
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
hr{
    border: none;
    height: 1px;
    background-color: #e0e0e0;
    margin: 0 20px;
}
nav .navbar-logo{
    font-size: 24px;
    font-weight: bold;
    color: #0A387E;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
nav .visit-container{
    background-color: #0A387E;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}
nav .visit-container:hover{
    background-color: #08306b;
}

nav ul li a{
    text-decoration: none;
    color: #555;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: 500;
    transition: 
        background-color 0.5s ease,
        color 0.5s ease,
        transform 0.3s ease;
}
nav ul li a:hover{
    background-color: #0A387E;
    cursor: pointer;
    color: #fff;
    transform: translateY(-2px);
}


