*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sans-serif';
}

button{
    background-color: #0A387E;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

div.home-page{
    display: flex;
    flex-direction: column;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

section.home-first-section {
    min-height: 700px;
    background-image: url('/worship.jpg');
    background-color: rgba(10, 56, 126, 0.9); /* overlay color */
    background-blend-mode: soft-light; /* or overlay, screen, soft-light */
    background-size: cover;
    background-position: center;
}

div.welcome-container{
    width: fit-content;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

h1{
    color: white;
    font-size: 64px;
    font-weight: 900;
}

div.welcome-container p{
    color: white;
    font-size: 16px;
    font-weight: normal;
    width: 100%;}

button.watch-live-service{
    background-color: #F3FE0E;
    color: #0A387E;
    border: 2px solid #F3FE0E;
    margin: 10px;
}
button.watch-live-service:hover{
    background-color: transparent;
    border: 1px solid #fff;
}

div.daddies{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-width: 600px;
    min-height: 450px;
    position: relative;
    padding: 20px;
}
div.daddies-img-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    border-radius: 10px;
}
div.dot-one{
    width: 30px;
    height: 30px;
    background-color: #F3FE0E;
    border-radius: 50%;
    position: absolute;
    top: 1%;
    left: 1%;
}

div.dot-two{
    width: 30px;
    height: 30px;
    background-color: #F3FE0E;
    border-radius: 50%;
    position: absolute;
    bottom: 1%;
    right: 1%;
}
div.seth-img-container{
    width: 300px;
    height: 400px;
    background-image: url('/seth.jpg');
    background-size: cover;
    background-position: center;
    background-color: #ffffff;
    border-radius: 30px 0 0 0;
    margin: 10px;
}
div.david-img-container{
    width: 300px;
    height: 400px;
    background-image: url('/david.jpg');
    background-size: cover;
    background-position: center;
    background-color: #ffffff;
    border-radius: 0 0 30px 0;
    margin: 10px;
}
section.home-second-section{
    padding: 100px;
    gap: 40px;
    display: flex;
}
.home-second-section h2{
    font-size: 36px;
    font-weight: 700;
}  
.home-second-section > div {
    display: flex;
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.home-second-section .join-us{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    padding: 20px 40px;
    gap: 20px;
    background-color: #f0f6ff;
    
}
.home-second-section .join-us span{
    font-size: larger;
    font-weight: bolder;
    color: #1298E3;
}
.home-second-section .join-us p{
    font-size: 16px;
    color: #555;
}

.home-second-section .join-us h2{
    margin-bottom: 10px;
}

.home-second-section .img-container{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}
.home-second-section .img-container img{
    width: 100%;
    height: 100%;
    
}

.home-third-section{
    padding: 100px;
    gap: 40px;
    background-color: #f0f6ff;
}
.home-third-section > div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}
.home-third-section .cards-container{
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.home-third-section .cards-container .card{
    background-color: white;
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}
.home-fourth-section{
    padding: 100px 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.home-fourth-section > div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    text-align: center;
    width: 50%;
}
.home-fourth-section .img-container{
    width: 50%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-fourth-section .img-container img{
    width: 100%;
    height: auto;
    border-radius: 0.75rem;
}
.home-fourth-section h2{
    font-size: 36px;
    font-weight: 700;
    text-align: start;
}
.home-fourth-section p{
    font-size: 16px;
    color: #555;
    text-align: start;
}
.home-fourth-section span{
    font-size: larger;
    font-weight: bolder;
    color: #1298E3;
    text-align: start;
}
.home-fifth-section{
    padding: 100px;
    gap: 40px;
    background-color: #0A387E;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.home-fifth-section button{
    background-color: #F3FE0E;
    color: #0A387E;
    border: 2px solid #F3FE0E;
}